---
import '../styles/global.css'; 
import Body from '../components/Body.astro'; 
---

<!doctype html>
<Body>
  <main>
    <div class="container">
      <div class="image-container">
        <img src="/images/hanna2.png" alt="me">
      </div>
      <div class="info-text">
        <p id="text">hello! my name is hanna and i like semlor, the color pink, taylor swift, horses, and jane austen. i'm currently studying my second year at LTH, a master of science in engineering in information and communication technologies.</p>
      </div>
    </div>
  </main>
</Body>
</html>

<style>
  .container {
    display: flex;
    width: 95%;
  }

  .image-container {
    flex: 1;
  }

  .image-container img {
    width: 100%;
    height: auto; /* Gör så att bilden bibehåller sin proportion */
  }

  .info-text {
    flex: 2;
    position: relative;
    display: flex;
    flex-direction: column; /* Gör att texten lägger sig naturligt inuti */
    align-items: center; /* Centrerar texten horisontellt */
    text-align: center;
    
    background-image: url("/images/icecreamcontainer.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    aspect-ratio: 1 / 0.75;

    /* filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.3)); */
  }

  #text {
    padding: 2em;
  }

</style>
