---
import '../styles/global.css'; 
import Body from '../components/Body.astro'; 
import { text } from '../content/text.js';
---

<!doctype html>
<Body>
  <main>
    <div class="container">
      <div class="image-container">
        <img src="/images/hanna2.png" alt="me">
      </div>
      <div class="info-text">
        <p id="text">{text.short}</p>
      </div>
    </div>
    <div class="long-text">
      <p id="longtext">{text.long}</p>
      <p id="longtext2">{text.long2}</p>
    </div>
  </main>
</Body>
</html>

<style>
  .container {
    display: flex;
    width: 95%;
  }

  .image-container {
    flex: 1;
  }

  .image-container img {
    width: 100%;
    height: auto; /* Gör så att bilden bibehåller sin proportion */
  }

  .info-text {
    flex: 2;
    position: relative;
    display: flex;
    flex-direction: column; /* Gör att texten lägger sig naturligt inuti */
    align-items: center; /* Centrerar texten horisontellt */
    text-align: center;
    
    background-image: url("/images/icecreamcontainer.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    aspect-ratio: 1 / 0.55;

    /* filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.3)); */
  }

  .long-text {
    background-image: url("/images/icecreamcontainer2.png");
    background-repeat: no-repeat;
    background-size: contain; /* Se till att hela bilden syns */
    background-size: 100% auto;

    align-items: center; /* Centrerar texten vertikalt */
    justify-content: center; /* Centrerar texten horisontellt */
    aspect-ratio: 1 / 0.7; /* Justera för att passa bildens proportioner */
    align-items: center; /* Centrerar texten vertikalt */
  }

  #text {
    padding: 2em;
  }

  #longtext {
    padding: 5em 3em 0;
  }

  #longtext2 {
    padding: 1em 2em 5em 5em;
  }

</style>
