---
import '../styles/global.css'; 
import Header from '../components/Header.astro';
---

<html>
  <head>
    <Header />
  </head>
  <body>
    <slot /> <!-- This allows dynamic content to be injected -->
  </body>
</html>