---
import '../styles/global.css'; 
---

<div class="container">
    <h1>hanna arendt</h1>
    <h2>student in information & communication engineering technologies at LTH</h2>
</div>

<style>
    .container {
        margin-bottom: 250px;
    }
</style>